.card {
    margin-top: 10%;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#logoImg {
    width: 24%;
    margin-left: 37%;
}
#ManageNav a{
    color: black
}