
@{ ViewData["Title"] = "Graphs"; }

<div id="containerGraphs" class="demo-section k-content wide">
    @section kendoCharts {
        <script>
            $(document).ready(getKendoCharts);
        </script>
    }
</div>