
@{ ViewData["Title"] = "Graphs"; }

<div id="containerGraphs" class="demo-section k-content wide">
    @section kendoCharts {
        <script>
            $(document).ready(getKendoCharts);
        </script>
    }

    <div id="areaChart" class="graph"></div>
    <div id="pieChart" class="graph"></div>
    <div id="lineChart" class="graph"></div>
    <div id="radarChart" class="graph"></div>
    <div id="donutChart" class="graph"></div>
    <div id="columnChart" class="graph"></div>
    <div id="treeChart" class="graphGrande"></div>
    <div id="poblacionChart" class="graphGrande"></div>

</div>