
@{ ViewData["Title"] = "Tabla"; }

<h1>Tabla</h1>
<table id="tablaContainer"></table>


@section PrintTabla {
    <script>
        $(document).ready(PrintarTabla("#tablaContainer"));

    </script>

}
