@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div id="rowLogin" class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <img id="logoImg" src="~/img/logoNet.png" alt="Logo" />
            </div>
            <section class="card-body">
                <p>
                    Email cambiado, por favor, haga clic al siguiente link para continuar:
                    <a href="http://trabajadoresnet.somee.com">Haz clic aquí para volver</a>
                </p>
            </section>
            <div class="card-footer form-group">
                <p>
                </p>
            </div>
        </div>
    </div>
</div>