@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
<div id="rowLogin" class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <img id="logoImg" src="~/img/logoNet.png" alt="Logo" />
            </div>
            <section class="card-body">
                <p>
                    Gracias por confirmar su cuneta, puede acceder pulsando en el siguiente enlace:
                    <a href="http://trabajadoresnet.somee.com">Haz clic aquí para loguearse</a>
                </p>
            </section>
            <div class="card-footer form-group">
                <p>
                </p>
            </div>
        </div>
    </div>
</div>