@page
@model LockoutModel
@{
    ViewData["Title"] = "";
}

<div id="rowLogin" class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <img id="logoImg" src="~/img/logoNet.png" alt="Logo" />
            </div>
            <section class="card-body">
                <h1 class="text-danger">Bloqueado</h1>
                <p class="text-danger">Esta cuenta ha sido bloqueda, por favor, intentelo de nuevo más tarde.</p>
            </section>
            <div class="card-footer form-group">
                <p>
                </p>
            </div>
        </div>
    </div>
</div>