@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div id="rowLogin" class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <img id="logoImg" src="~/img/logoNet.png" alt="Logo" />
            </div>
            <section class="card-body">
                <p>
                    Su contraseña ha sido reiniciada. Por favor <a asp-page="./Login">haga clic aquí para loguearse</a>.
                </p>
            </section>
            <div class="card-footer form-group">
                <p>
                </p>
            </div>
        </div>
    </div>
</div>

