<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FRONT_Proyecto_Team1_AJV</title>
    <!-- Links para importar las liberías de Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <!-- FIN importar links Bootstrap -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/graph.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/tabla.css" />
    <!-- Links para importar las liberías de Kendo -->
    <link href="https://kendo.cdn.telerik.com/2021.1.224/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2021.1.224/styles/kendo.default.min.css" rel="stylesheet" />
    <!-- FIN importar Links Kendo-->
</head>
<body>
    <!-- Header -->
    <header>
        <div>
            <nav id="header" class="navbar navbar-light bg-light">
                <button id="NavBtn1" class="btnNav" onclick="ocultarSidebar()"><i class="fas fa-bars"></i></button>
                <div class="nav">
                    <a href="#home">
                        <i class="bi bi-fullscreen headerICO"></i>
                    </a>
                    <a href="#about">
                        <i class="bi bi-bell-fill headerICO"></i>
                    </a>
                    <a href="#clients">
                        <i class="bi bi-globe2 headerICO"></i>
                    </a>
                    <a href="#clients">
                        <i class="bi bi-person-circle headerICO"></i>
                    </a>
                    <a href="#contact">
                        <i class="bi bi-grid-3x3-gap-fill headerICO"></i>
                    </a>
                </div>
            </nav>
        </div>
    </header>
    <div id="container" class="container-fluid">
        <div id="rowContainer" class="row vh-100">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/graph.js" asp-append-version="true"></script>
    <script src="~/js/menu.js" asp-append-version="true"></script>
    <script src="~/js/tabla.js" asp-append-version="true"></script>
    <script src="~/js/token.js" asp-append-version="true"></script>
    <!-- Links para importar las liberías de Font-Awesome -->
    <script src="https://kit.fontawesome.com/4b42849ead.js" crossorigin="anonymous"></script>
    <!-- FIN importar links Font-Awesome -->
    <!-- Scripts para importar Kendo -->
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.224/js/kendo.all.min.js"></script>
    <!-- FIN scripts para importar Kendo -->
    @RenderSection("Scripts", required: false)
    @RenderSection("Token", required: false)
</body>
</html>
