@{ ViewData["Title"] = "Home Page"; }
<div hidden id="tokenAPI">
    <!-- Token para el CRUD de la API -->
    @section Token{
        <script>CallToken('token@token.com', 'TokenPassword');</script>
    }
    <!-- FIN DE TOKEN -->
</div>
<!-- Main -->
<!-- Sidebar -->
<div class="col-sm-auto" id="colSideBar">
    <div>
        <div class="icon-bar">
            <img id="logo" src="~/img/logo.jpg" width="70" />
            <a href="#" class="active">
                <i class="bi bi-person-fill"></i>
                <label class="lblNames" style="display: none;">Trabajadores</label>
            </a>
            <a href="#">
                <i class="bi bi-tag"></i>
                <label class="lblNames" style="display: none;">Etiquetas</label>
            </a>
            <a href="#a">
                <i class="bi bi-display"></i>
                <label class="lblNames" style="display: none;">Vistas</label>
            </a>
            <a href="#b">
                <i class="bi bi-bag"></i>
                <label class="lblNames" style="display: none;">Trabajo</label>
            </a>
            <a href="#c">
                <i class="bi bi-tag-fill"></i>
                <label class="lblNames" style="display: none;">CE</label>
            </a>
            <a href="#">
                <i class="bi bi-diagram-3-fill"></i>
                <label class="lblNames" style="display: none;">Organigrama</label>
            </a>
            <a href="#">
                <i class="bi bi-graph-up"></i>
                <label class="lblNames" style="display: none;">Estadísticas</label>
            </a>
            <button type="button" id="btnHide" > <i class="fas fa-chevron-right"></i></button>

        </div>
    </div>
</div>
<div class="col-sm col2">
    <!-- Menu Horizontal -->
    <div class="row">
        <div class="col colhor ">
            <button class="btnNav"><i id="ico" class="fas fa-bars"></i></button>
            <label> Trabajadores </label>
            <div id="secbtn">
                <button class="btnDis" disabled id="fecha">
                    <i class="bi bi-calendar-event"></i>
                </button>
                <button class="btnDis" disabled>
                    <i class="bi bi-diagram-3-fill"></i> Grupo Castilla (No
                    tocar)
                </button>
            </div>
        </div>
    </div>
    <div class="row vh-100">
        <!-- Menu Filtros -->
        <div class="col-2" id="colMenuFiltros">
            <div class="MenuFiltros">
                <div class="input-group rounded">
                    <!-- INPUT de filtros -->
                    <input id="buscador" type="search" class="form-control rounded" placeholder="Filtrar unidad organizativa" aria-label="Search"
                           aria-describedby="search-addon" />
                    <button id="btnFilter" type="button" class="btn btn-primary">
                        <i onclick="activarFiltros('#containerScreen')" class="bi bi-funnel-fill"></i>
                    </button>
                </div>

                <!-- Casillas de las unidades organizativas -->
                <button class="input-group rounded btnOrganizativa">
                    <i class="btnMenu" onclick="PrintarTabla('#containerScreen');">Ayuntamiento</i>
                    <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                </button>
                <div id="grupoBoton">
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Ajuntament');">Grupo: Ayuntamiento</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Alcalde');">Alcalde</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Regidor');">Regidor</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Àrea de territori, via pública i mobilitat');">Àrea de territori, via pública i mobilitat</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Àrea de transparència i Bon Govern');">Àrea de transparència i Bon Govern</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Area de benestar Social');">Area de benestar Social</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Àrea de cultura Educació i Lleure');">Àrea de cultura Educació i Lleure</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Àrea de urbanisme i Habitatge');">Àrea de urbanisme i Habitatge</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Àrea de comerç, turisme i ocupació');">Àrea de comerç, turisme i ocupació</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Assessor');">Assessor</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Administratiu/va');">Administratiu/va</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Urbanisme, Patrimoni i Centre Històric');">Urbanisme, Patrimoni i Centre Històric</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Sostenibilitat, Serveis Ambientals i Medi Natural');">Sostenibilitat, Serveis Ambientals i Medi Natural</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Actuacions Públiques i Serveis');">Actuacions Públiques i Serveis</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Habitatge');">Habitatge</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Via pública i Barris');">Via pública i Barris</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Mobilitat');">Mobilitat</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Seguretat Ciutadana i Protecció Civil');">Seguretat Ciutadana i Protecció Civil</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Comerç i Turisme');">Comerç i Turisme</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Cultura');">Cultura</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Ensenyament i Politica Lingüistica');">Ensenyament i Politica Lingüistica</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Afers Socials');">Afers Socials</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Acció Comunitària, Participació i Igualtat');">Acció Comunitària, Participació i Igualtat</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Acció Civica i Joventut');">Acció Civica i Joventut</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Salut i Dependéncia');">Salut i Dependéncia</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Governació');">Governació</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Hisenda, Finances i Contractació');">Hisenda, Finances i Contractació</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Transparéncia,Oficina d\'Atenció al Ciutadà i Tecnologia de la Informació');">Transparéncia,Oficina d'Atenció al Ciutadà i Tecnologia de la Informació</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Secretari/a');">Secretari/a</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Interventor/a');">Interventor/a</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Tresorer/a');">Tresorer/a</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Àrea de serveis econòmics');">Àrea de serveis econòmics</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Treballador/a social');">Treballador/a social</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Educador/a social');">Educador/a social</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                    <button class="input-group rounded btnOrganizativa">
                        <i class="btnMenu" onclick="GetTablaID('#containerScreen', 'Responsable biblioteques');">Responsable biblioteques</i>
                        <i onclick="getKendoCharts('#containerScreen')" class="bi bi-graph-up btnMenu"></i>
                    </button>
                </div>

                <div id="footerFiltros">
                    <a href="#home">
                        <i class="bi bi-question-diamond-fill"></i>
                    </a>
                    <a href="#about">
                        <i class="bi bi-globe2"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Tabla -->
        <div id="containerScreen" class="col-10 colb containerScreen vh-100"></div>
    </div>
</div>