@{ ViewData["Title"] = "Home Page"; }
<div hidden id="tokenAPI">
    <!-- Token para el CRUD de la API -->
    @section Token{
        <script>CallToken('token@token.com', 'TokenPassword');</script>
    }
    <!-- FIN DE TOKEN -->
</div>
