@section Main {
    <!-- Main -->
    <div id="menus" class="col col2">
        <!-- Menu Horizontal -->
        <div id="menuHorizontal" class="row">
            <div class="col colhor">
                <button class="btnNav" onclick="myFunction2()"><i id="ico" class="fas fa-bars"></i></button>
                <label> Trabajadores </label>
                <div id="secbtn">
                    <button class="btnDis" disabled>
                        <i class="bi bi-calendar-event"></i> <div id="fecha"></div>
                    </button>
                    <button class="btnDis" disabled>
                        <i class="bi bi-diagram-3-fill"></i> Grupo Castilla (No
                        tocar)
                    </button>
                </div>
            </div>
        </div>


        <div id="menuVertical" class="row h-100">
            <!-- Menu Filtros -->
            <div class="col-auto cola h-100" id="cola">
                <ul>
                    <li><button type="button" class="btn btn-primary btn-lg">Large button</button></li>
                    <li><button type="button" class="btn btn-primary btn-lg">Large button</button></li>
                    <li><button type="button" class="btn btn-primary btn-lg">Large button</button></li>
                    <li><button type="button" class="btn btn-primary btn-lg">Large button</button></li>
                    <li><button type="button" class="btn btn-primary btn-lg">Large button</button></li>
                    <li><button type="button" class="btn btn-primary btn-lg">Large button</button></li>
                    <li><button type="button" class="btn btn-primary btn-lg">Large button</button></li>
                    <li><button type="button" class="btn btn-primary btn-lg">Large button</button></li>
                </ul>
            </div>
            <!-- Tabla y Gráficos -->
            <div id="containerContenido" class="col colb">.col-sm-8</div>
        </div>
    </div>
}