@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generate two-factor authentication (2FA) recovery codes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Guarde estos códigos en un lugar seguro.</strong>
    </p>
    <p>
        Si pierde su dispositivo y no tiene los códigos de recuperación perderá el acceso a su cuenta.
    </p>
    <p>
        Generar nuevos códigos de recuperación no cambiará las claves usadas en us app de autentificación. Si desea cambiar las claves
        usadas en la app de autentificación deberá <a asp-page="./ResetAuthenticator">reiniciar sus claves de autentificación.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Generar códigos de recuperación</button>
    </form>
</div>